.bodybg {
    -fx-background-image: url('Welcome.png');
    -fx-background-size: 75%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.color {
    -fx-backgroud-color: white;
    -fx-background-size: 100%;
}